# compiled output
dist

# dependencies
node_modules

# IDEs and editors

# IDE - VSCode
.vscode/

# misc
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
.history

# jest test coverage
coverage
